<body>
  

<div class="container" id="logreg-forms">

  <form action="#" class="form-signup">
    <div class="social-login">
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
      </div>
      <div class="social-login">
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
    </div>
    <p style="text-align:center">OR</p>
  </form>
  <form name="signupForm"  #myForm="ngForm" (ngSubmit)="register(myForm)">  
  <div class="form-group ">
    <label for="firstName">Name</label>
    <input required ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
    <div  class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"> First name Shoudl be valid </div>
  </div>
  <!-- <div class="form-group">
      <label for="lastName">Last Name</label>
      <input required  ngModel name="lastName" #lastName="ngModel" (change)="log(lastName)" id="lastName" type="text" class="form-control">
      <div  class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid"> Last name Shoudl be valid </div>
  </div> -->
  <div class="form-group">
    <label for="email">Email</label>
    <input required type="email" ngModel name="email" #email="ngModel" (change)="log(email)" id="email" class="form-control">
    <div  class="alert alert-danger" *ngIf="email.touched && !email.valid"> Email name Should be valid </div>
  </div>

  <label for="password">Password</label>
    <input required  ngModel name="password" #password="ngModel" (change)="log(password)" id="password" placeholder="Password" type="password" class="form-control">
    <div  class="alert alert-danger" *ngIf="password.touched && !password.valid"> Password should be valid </div>
<!-- 
    <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus=""> -->
  <!-- <div class="button btn btn-primary">Submit </div> -->

  <!-- <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
                <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
                <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Confirm Password" required autofocus=""> -->


  <div class="input-group">
    <button class="btn btn-md btn-block submit"  type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
  </div>
  
</form>
</div>
</body>