<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
  <div class="container">
    





    <div class="row">
      <div class="card-group m-4" border-color="red" >
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1 ">
          <a href="/offerinfo">
            <div class="card">
              <img class="card-img-top" src="../../../assets/image/a.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Maelborn Suit and resturant</h4>
                <div class="card-text ">
                  <span class="cui-location-name"> Willow Glen, San Jose </span>
                  <span class="cui-location-separator"> • </span>
                  <span class="cui-location-distance"> 2 mi </span>
                </div>
                <!-- <p class="card-text">Texty</p> -->

                <div class="card-img-overlay card-img-caption ">
                  <p class="card-text">30% Off</p>
                </div>
              </div>
              <div class="card-footer">
                <div>
                  <span>4.1</span> <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked half-star"></span> (254)
                </div>
                <small>this is really imp sold 3 min before</small>
              </div>
            </div>
          </a>
        </div>
    
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="card">
            <img class="card-img-top" src="../../../assets/image/a.jpg" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">Maelborn Suit and resturant</h4>
              <div class="card-text ">
                <span class="cui-location-name"> Willow Glen, San Jose </span>
                <span class="cui-location-separator"> • </span>
                <span class="cui-location-distance"> 2 mi </span>
              </div>
              <div class="card-img-overlay card-img-caption ">
                <p class="card-text">30% Off</p>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span>4.1</span> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked half-star"></span> (254)
              </div>
              <small>this is really imp sold 3 min before</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="card">
            <img class="card-img-top" src="../../../assets/image/a.jpg" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">Maelborn Suit and resturant</h4>
              <div class="card-text ">
                <span class="cui-location-name"> Willow Glen, San Jose </span>
                <span class="cui-location-separator"> • </span>
                <span class="cui-location-distance"> 2 mi </span>
              </div>
              <div class="card-img-overlay card-img-caption ">
                <p class="card-text">30% Off</p>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span>4.1</span> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked half-star"></span> (254)
              </div>
              <small>this is really imp sold 3 min before</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="card">
            <img class="card-img-top" src="../../../assets/image/a.jpg" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">Maelborn Suit and resturant</h4>
              <div class="card-text ">
                <span class="cui-location-name"> Willow Glen, San Jose </span>
                <span class="cui-location-separator"> • </span>
                <span class="cui-location-distance"> 2 mi </span>
              </div>
              <div class="card-img-overlay card-img-caption ">
                <p class="card-text">30% Off</p>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span>4.1</span> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked half-star"></span> (254)
              </div>
              <small>this is really imp sold 3 min before</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="card">
            <img class="card-img-top" src="../../../assets/image/a.jpg" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">Maelborn Suit and resturant</h4>
              <div class="card-text ">
                <span class="cui-location-name"> Willow Glen, San Jose </span>
                <span class="cui-location-separator"> • </span>
                <span class="cui-location-distance"> 2 mi </span>
              </div>
              <div class="card-img-overlay card-img-caption ">
                <p class="card-text">30% Off</p>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span>4.1</span> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked half-star"></span> (254)
              </div>
              <small>this is really imp sold 3 min before</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="card">
            <img class="card-img-top" src="../../../assets/image/a.jpg" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">Maelborn Suit and resturant</h4>
              <div class="card-text ">
                <span class="cui-location-name"> Willow Glen, San Jose </span>
                <span class="cui-location-separator"> • </span>
                <span class="cui-location-distance"> 2 mi </span>
              </div>
              <div class="card-img-overlay card-img-caption ">
                <p class="card-text">30% Off</p>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <span>4.1</span> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked half-star"></span> (254)
              </div>
              <small>this is really imp sold 3 min before</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>