  
 #div_top_hypers {
  background-color:#eeeeee;
  display:inline;      
}
#ul_top_hypers {
  display: flex;
  justify-content:baseline;
  list-style-type:none;
}

.checked {
color: orange;
}
/* .unchecked {
  color: white
} */

.card-img-overlay {
position: left;
top: 10;
right: 0;
bottom: 0;
left: 0;
padding: 1.25rem;
}
.card-img-caption .card-text {
text-align: bottom;
width: 100%;
margin: 53% 0;
position: absolute;
z-index: 1;
color: springgreen;
}
.card-img-top {
width : 40px;
}
